h1
{
    position: absolute;
    color: red;
    left: 2%;
    top: 1%;
}


.inscription
{
    position: absolute;
    right: 10%;
    top:3%;  
}

.connexion
{
    position: absolute;
    right: 5%;
    top: 8%;
}

.position_titre_produit
{
    position: absolute;
    top: 25%;
    left: 35%;
}

.bandeau 
{
    height: 10%;
    background: rgba(5, 136, 223, 0.336);
}

.form-group_barre_recherche
{
    position: absolute;
    left: 15%;
    top: 3.5%;
    width: 50%;
}

